@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
body{
    display: flex;
    height: 100vh;
    background-color: hsl(0, 0%, 0%);
    margin-top: 130px;
    margin-left:470px;    

}
.cardlogin{
    height: 450px;
    width: 400px;
    background-color: rgb(19, 19, 19);
    border:2px solid #f84f0c;
    border-radius: 10px;
}
.cardlogin input{
    border: none;
    padding: 7px;
    outline: 0;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 3px solid #f84f0c;
    display: flex;
    padding: 7px;
}
.cardlogin div{
    border-radius: 10px;
    display: flex;
    margin-top: 60px;
    margin-left: 45px;
    width: 300px;
    height: 45px;
    font-size: 20px;
}
#login{
    background-color: #f84f0c;
    height: 60px;
    display: flex;
    align-items: center;
}
#login a{
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    color: black;
    align-items: center;
    margin-left: 122px;
}
#login:hover{
    border: 2px solid rgb(218, 0, 0);
}
#img{
    align-items: center;
    margin-left: 155px;
}
