body{
    margin: 0;
    height: 70px;
    border: 3px solid palevioletred;
    background-color: lightpink;
}
.navbar{
    background-color: rgb(21, 75, 202);
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    border-bottom: 5px outset pink;
}
.navbar div{
    display: flex;
    height: 100%;
    align-items: center;
}
.navbar a{
    color: rgb(248, 0, 198);
    padding: 0 25px;
    height: 70%;
    display: flex;
    align-items: center;
    font-family: 'Times New Roman';
    text-decoration: none;
    border-radius: 20px;
}
.navbar a:hover{
    background-color: rgb(116, 183, 199);
    text-decoration: underline;
}
.navvbar img{
    height: 50px;
}
.fundo{
    color: black;
}
.fundo img{
    height: 300px;
    border-radius: 5px rgb(192, 0, 179);
}
