body{
    margin: 0;
    margin-top: 110px;
}
.navbar{
    background-color: rgb(43, 66, 247);
    justify-content: space-between;
    align-items: center;
    display: flex;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
}
.navbar div{
    display: flex;
    gap: 10px;
    background-color: 

}
.navbar a:hover{
    background-color: cadetblue;
    text-decoration: underline;
}
.navbar input{
    padding: 7px;
    border: none;
    outline: 0;
}
.navbar label:hover{
border: 3px solid blue;
}

.navbar label{
    align-items: center;
    background-color: white;
    border-radius: 20px;
    display: flex;
    padding: 7px;
}
.corpo{
    display: flex;
    margin: 0 30px;
    margin-top: 30px;
    justify-content: right;
}
.lateral{
    background-color: blue;
    width: 200px;
    height: calc(100vh - 140px);
    position: fixed;
    left: 30px;
}
.main{
    background-color: rgb(0, 200, 255);
    width: calc(100% - 230px);
}
@media (max-width: 800px){
    .lateral{
        display: none;
    }
    .main{
        width: 100%;
    }
}
