/* cometario */

body{
    color:lightblue;
    background-color:rgb(83, 122, 160);
    font-size: 22px;
}

h1{
    color:rgb(0, 0, 0);
}

p{
    color:lightblue;
    margin:15px 0 15px 15px;
}

div{
    background-color:rgb(6, 86, 121);
    height: 70px;
    width: 100%;
    padding: 7px;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}